###BASE
SERVICE_NAME=account
APP_ENV=local
LOG_LEVEL=debug

###HTTP
HTTP_PORT=9000
HTTP_HOST=localhost

###DB
DB_DNS=host=localhost port=5432 user=postgres password=postgres dbname=account sslmode=disable

###JWT
JWT_SECRET=super_secret_key_12345678901234567890
ACCESS_TOKEN_TTL_MINUTES=60
REFRESH_TOKEN_TTL_DAYS=30